.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.centered {
  text-align: center;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*контейнер*/
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--first-color);
}

/*cxлопывание*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
:root {
  --first-color: #ffffff;
  --second-color: #2e2f42;
  --third-color: #404bbf;
  --fourth-color: #4d5ae5;
  --fifth-color: #f4f4fd;
  --sixth-color: #e7e9fc;
  --next-color: #f4f4fd;
  --text-color: #434455;

  --background-color-1: #ffffff;
  --beckground-color-2: #2e2f42;
  --background-color-3: #f4f4fd;

  --first-line-height: 1.5;
  --second-line-height: 1.33;
  --third-line-height: 1.2;
  --fours-line-height: 1.07;
  --fifth-line-height: 1.11;

  --typical-font-weight: 500;
  --first-font-weight: 800;

  --first-letter-spacing: 0.02em;
  --second-letter-spacing: 0.03em;
  --third-letter-spacing: 0.04em;

  --first-font-size: 20px;
  --second-font-size: 18px;
  --third-font-size: 56px;
  --fourth-font-size: 36px;
}

/*======================HEADER===========================*/
.header {
  border-bottom: 1px solid var(--sixth-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--first-font-weight);

  font-size: var(--second-font-size);
  line-height: var(--second-line-height);
  color: var(--second-color);
  letter-spacing: var(--second-letter-spacing);
}
.piece {
  color: var(--fourth-color);
}

/*ul*/
.header-list {
  display: flex;
  margin-left: 76px;
}

/*li*/
.header-item {
  margin-right: 40px;
}
.header-item:last-child {
  margin-right: 0;
}
.adress {
  margin-left: auto;
}
.header-contact {
  display: flex;
}
.header-contact-item {
  margin-right: 40px;
}
.header-contact-item:last-child {
  margin-right: 0;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: var(--typical-font-weight);
  font-size: var(font-size);
  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--second-color);
}
.header-link:hover {
  color: var(--third-color);
}
.header-contact-link {
  font-size: var(font-size);
  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--text-color);
  font-style: normal;
}
.header-contact-link:hover {
  color: var(--third-color);
}
/*======================/HEADER==========================*/
/*======================HERO=============================*/

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  background: var(--second-color);
}
.hero-title {
  width: 500px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 48px;

  font-size: var(--third-font-size);
  line-height: var(--fours-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--first-color);
}
.hero-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;

  font-family: inherit;
  font-weight: var(--typical-font-weight);
  line-height: var(--first-line-height);
  cursor: pointer;
  color: var(--first-color);
  background: var(--fourth-color);
  border: none;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--third-color);
}
/*======================/HERO============================*/
/*====================SOLUTIONS==========================*/

/*section-cекция*/
.solutions {
  padding-bottom: 0;
}

/*h2*/
.section-title {
  margin-top: 0;
  margin-bottom: 8px;
}

/*UL*/
.solutions-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  column-gap: 24px;
}

/*LI*/
.solution-item {
  flex-basis: calc((100% - 72px) / 4);
}

/*h3-подзаголовок*/
.solution-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: left;

  font-weight: var(--typical-font-weight);
  font-size: var(--first-font-size);
  line-height: var(--third-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--second-color);
}

/*P-текст*/
.solution-text {
  text-align: left;

  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--text-color);
}
/*====================/SOLUTIONS=========================*/
/*=====================SERVICES==========================*/

/*h2*/
.services-title {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: var(--fourth-font-size);
  line-height: var(--fifth-line-height);
  letter-spacing: var(--first-letter-spacing);
  text-transform: capitalize;
  color: var(--second-color);
}
/*ul*/
.services-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  column-gap: 24px;
}
/*li*/
.services-item {
  margin-top: 0;
  margin-bottom: 0;
}
/*=====================/SERVICES==========================*/
/*======================TEAM============================*/
.team {
  background: var(--background-color-3);
}
/*h2*/
.team-title {
  font-size: var(--fourth-font-size);
  line-height: var(--fifth-line-height);
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: var(--first-letter-spacing);
  color: var(--second-color);

  margin-top: 0;
  margin-bottom: 72px;
}

/*ul*/
.team-list {
  list-style: none;
  display: flex;
  column-gap: 24px;
}
/*li*/
.team-item {
  background: var(--first-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/*set из h3 и p*/
.team-set {
  padding: 32px 0;
}
/*h3*/
.team-subtitle {
  font-weight: var(--typical-font-weight);
  font-size: 20px;
  line-height: var(--third-line-height);
  /* identical to box height, or 120% */

  text-align: center;
  letter-spacing: var(--first-letter-spacing);
  color: var(--second-color);
  margin-bottom: 8px;
}
/*p*/
.team-text {
  line-height: var(--first-line-height);
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: var(--first-letter-spacing);

  /* SLATE */

  color: var(--text-color);
}
/*=====================/TEAM============================*/
/*====================FOOTER=============================*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--beckground-color-2);
}

.logo-footer {
  margin-top: 0;
  margin-bottom: 16px;

  font-family: 'Raleway', sans-serif;
  font-weight: var(--first-font-weight);
  font-size: var(--second-font-size);
  line-height: var(--second-line-height);
  color: var(--next-color);
}
.footer-text {
  width: 264px;

  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);

  color: var(--sixth-color);
}
/*===================/FOOTER=============================*/
/*=================MAIN MENU=============================*/
.menu {
  padding-top: 96px;
}

/*ul-cписок кнопок*/
.menu-list {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  padding-bottom: 72px;
}

.menu-btn {
  font-family: inherit;
  font-weight: var(--typical-font-weight);
  font-size: var(--font-size);
  line-height: var(--first-line-height);
  letter-spacing: var(--third-letter-spacing);
  cursor: pointer;
  color: var(--fourth-color);
  border: none;
  border-radius: 4px;
  min-width: 55px;
  padding: 12px 24px;
}
.menu-btn:hover {
  background-color: var(--third-color);
  color: var(--first-color);
}

/*ul-список img*/
.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

/*li*/
.portfolio-item {
  margin-bottom: 48px;
  margin-right: 24px;
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-item:nth-last-child(3n + 1) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.box {
  padding-left: 16px;
  border-bottom: 1px solid var(--sixth-color);
  border-left: 1px solid var(--sixth-color);
  border-right: 1px solid var(--sixth-color);
  padding: 32px 0;
}
/*h2*/
.sec-subtitle {
  font-weight: var(--typical-font-weight);
  font-size: var(--first-font-size);
  line-height: var(--third-line-height);
  /* identical to box height, or 120% */

  letter-spacing: var(--first-letter-spacing);
  color: var(--second-color);
  margin-bottom: 8px;
}
/*p*/
.sec-text {
  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--text-color);
}
/*================/MAIN MENU=============================*/
