.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.centered {
  text-align: center;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*container*/

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
:root {
  --first-color: #ffffff;
  --second-color: #2e2f42;
  --third-color: #404bbf;
  --fourth-color: #4d5ae5;
  --fifth-color: #f4f4fd;
  --sixth-color: #e7e9fc;
  --next-color: #f4f4fd;
  --text-color: #434455;
  --
  --first-line-height: 1.5;
  --second-line-height: 1.33;
  --third-line-height: 1.2;
  --fours-line-height: 1.07;
  --fifth-line-height: 1.11;
  --typical-font-weight: 500;
  --first-font-weight: 800;
  --first-letter-spacing: 0.02em;
  --second-letter-spacing: 0.03em;
  --third-letter-spacing: 0.04em;
  --first-font-size: 20px;
  --second-font-size: 18px;
  --third-font-size: 56px;
  --fourth-font-size: 36px;
}

/*======================HEADER===========================*/

.header {
  background: var(background-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: var(--second-font-size);
  line-height: var(--second-line-height);
  color: var(--second-color);
  letter-spacing: var(--second-letter-spacing);
}
.piece {
  color: var(--fourth-color);
}

/*ul*/
.header-list {
  display: flex;
  margin-left: 76px;
}

/*li*/
.header-item {

  margin-right: 40px;
}
.header-item:last-child {
  margin-right: 0;
}
.adress {
  margin-left: auto;
}
.header-contact {
  display: flex;
}
.header-contact-item {
 
  margin-right: 40px;
}
.header-contact-item:last-child {
  margin-right: 0;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: var(--typical-font-weight);
  font-size: var(font-size);
  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--second-color);
}
.header-link:hover {
  color: var(--third-color);
}
.header-contact-link {
  font-size: var(font-size);
  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--text-color);
  font-style: normal;
}
.header-contact-link:hover {
  color: var(--third-color);
}
/*======================/HEADER==========================*/
/*======================HERO=============================*/

.hero {
  margin-top: 0;
  margin-bottom: 120px;
  padding-top: 188px;
  padding-bottom: 203px;
  text-align: center;
  
  background: var(--second-color);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 39px;

  font-size: var(--third-font-size);
  line-height: var(--fours-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--first-color);
}
.hero-btn {
  border-radius: 4px;
  padding: 16px, 32px;
  min-width: 169px;

  font-family: inherit;
  font-weight: var(--typical-font-weight);
  font-size: var(font-size);
  line-height: var(--first-line-height);
  cursor: pointer;
  color: var(--first-color);
  background: var(--fourth-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--third-color);
}
/*======================/HERO============================*/
/*====================SOLUTIONS==========================*/
.solutions {
  padding-top: 0;
  
}
.solutions-page-title {
  margin-top: 0;
  margin-bottom: 8px;
}

/*UL*/
.solutions-list {
 
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 24px;
}
/*h3-подзаголовок*/

.solution-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: left;

  font-weight: var(--typical-font-weight);
  font-size: var(--first-font-size);
  line-height: var(--third-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--second-color);
}
/*P-текст*/
.solution-text {
  text-align: left;

  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--text-color);
}
/*====================/SOLUTIONS=========================*/
/*=====================SERVICES==========================*/

.services {
  padding-top: 0;
  padding-bottom: 120px;
  
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: var(--fourth-font-size);
  line-height: var(--fifth-line-height);
  letter-spacing: var(--first-letter-spacing);
  text-transform: capitalize;
  color: var(--second-color);
}
/*ul*/
.services-image-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
/*li*/
.services-image-item {
  
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 24px;
}
/*=====================/SERVICES==========================*/
/*======================ABOUT============================*/
.about {
  background: var(--fifth-color);
}
/*h2*/
.section-title {
  margin-top: 0;
  margin-bottom: 72px;
}
/*ul*/
.list {
  display: flex;
}
/*li*/
.about-img {
 
  margin-top: 0;
  margin-bottom: 32px;
  margin-right: 24px;
}
.set {
  text-align: center;
}
/*h3*/
.section-subtitle {
  
  margin-bottom: 8px;
}
/*p*/
.section-text {
  margin-top: 0;
  margin-bottom: 32px;
  
}
/*=====================/ABOUT============================*/
/*====================FOOTER=============================*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--second-color);
}

.logo-footer {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 156px;
  margin-right: 1169px;

  font-family: 'Raleway', sans-serif;
  font-weight: var(first-font-weight);
  font-size: (var(--second-font-size));
  line-height: var(--second-line-height);
  color: var(--next-color);
}
.footer-text {
  width: 264px;
  margin-left: 156px;
  margin-right: 1020px;

  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);
  background-color: var(--second-color);
  color: var(--sixth-color);
}
/*===================/FOOTER=============================*/
/*=================MAIN MENU=============================*/
.menu {
  margin-top: 96px;
  margin-bottom: 120px;
}
.container {
  margin-top: 0;
}
/*ul*/

.menu-list {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.menu-btn {
  font-family: inherit;
  font-weight: var(--typical-font-weight);
  font-size: var(font-size);
  line-height: var(--first-line-height);
  letter-spacing: var(--third-letter-spacing);
  cursor: pointer;
  color: var(--fourth-color);
}
.menu-btn:hover {
  background-color: var(--third-color);
  color: var(--first-color);
}
.button {
  border-radius: 4px;
  padding: 12px, 24px;
  min-width: 55px;
}
/*ul*/
.portfolio-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.box {
  padding-left: 16px;
  border-bottom: 1px solid var(--sixth-color);
  border-left: 1px solid var(--sixth-color);
  border-right: 1px solid var(--sixth-color);
}
/*li*/
.portfolio-item {
}
/*.portfolio-item * {
  outline: 1px solid green;
}-для выделения цветом */

/*h2*/
.sec-subtitle {
  line-height: var(--third-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--second-color);
  margin-bottom: 8px;
}
/*p*/
.sec-text {
  line-height: var(--first-line-height);
  letter-spacing: var(--first-letter-spacing);
  color: var(--text-color);
  margin-bottom: 32px;
}
/*================/MAIN MENU=============================*/
